/* geral  */
.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
    0 4px 8px 0 rgba(0, 0, 0, .05);
}
@font-face {
  font-family: Porto;
  src: url('../font/Porto 400.ttf');
}
body {
  background: rgba(0, 0, 0, 0.7);
  font-family: "Roboto";
}
/* fecha geral */

/* navegação */
nav {
  font-family: "Roboto";
}
nav li {
  height: 60px;
}
.navbar-brand:hover {
  border: none;
}
nav a{
  color: #fff !important;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
}
nav a:hover {
  color: #03CDD7 !important;
  border-bottom: 2px solid #03CDD7;
}
nav .btn-outline-primary {
  background: #03CDD7;
  border: 2px solid #03CDD7 !important;
}
nav .btn-outline-primary:hover {
  background: transparent;
  transform: scale(1.1);
  color: rgba(0, 0, 0, .8) !important;
}
.img {
  font-family: Porto;
}
nav .navbar-toggler {
  border-color: #fff !important;
  transition: all 1s;
}
nav .navbar-toggler:hover {
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .fixed-top {
    position: relative;
  }
}
/* fecha navegacao */

/*parallax */

.parallax {
  background-image: url('../img/parallax.jpg');
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
/* fecha parallax */

/* conteudo parallax */
.box-container {
  border-top: 2px solid #03CDD7;
  border-bottom: 2px solid #03CDD7;
}
.box-parallax {
  color: #FFF;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-parallax span{
  font-size: 1.4em;
  font-weight: bold;
}
.box-parallax span:nth-child(3) {
  border-bottom: 2px solid #03CDD7;
}
.box-main {
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(0, 0, 0, .7);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, .2),
    4px 6px 8px 2px rgba(0, 0, 0, .4);
}
.box-main div {
  margin: 10px;
}
.box-sociais {
  padding-top: 10px;
  width: 100%;
}
.box-sociais p {
  margin: 0 auto;
  max-width: 70ch;
}
.box-sociais a {
  color: #03CDD7;
  border-bottom: 2px solid #03CDD7;
  text-decoration: none;
}
.sociais-main a {
  border: none;
  color: #FFF;
  font-size: 1.8em;
}
.sociais-main a:hover {
  color: #03CDD7;
}
.sociais-main a + a {
  margin-left: 10px;
}
/* fecha conteudo parallax */