@import "stylesVariables";

/* geral  */
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
}
.box-shadow {
  box-shadow: $colorBoxShadowC;
}
body {
  background: $colorBackgroundE;
  font-family: $fonte-1;
  overflow-x: hidden;
}
p {
  @include tipo-1(18, $white);
}
h1 {
  @include tipo-2(26, $white);
}

/* fecha geral */

/* navegação */
nav {
  li {
    height: 60px;
  }
  a {
    color: $white !important;
    font-size: em(18);
    transition: all 0.4s ease-in-out;
    &:hover {
      color: $myBlue !important;
      border-bottom: $border;
    }
  }
  .btn-outline-primary {
    background: $myBlue;
    border: $border !important;
    &:hover {
      background: transparent;
      transform: scale(1.1);
      color: $colorBackgroundE !important;
    }
  }
  .navbar-toggler {
    border-color: $white !important;
    background: $myBlue;
    transition: all 1s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .navbar-brand:hover {
    border: none;
  }
  @include d(m) {
    .fixed-top {
      position: relative;
    }
    .navbar-nav {
      background: rgb(51, 51, 51);
      padding: 0 $spaceDefault;
    }
  }
}
/* fecha navegacao */

/*parallax */

.parallax {
  background-image: url("../img/parallax.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 960px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* fecha parallax */

/* conteudo parallax */
.box-container {
  background: url("./../img/icons/back.svg") center repeat-x;
  border-top: $borderWhite;
  border-bottom: $borderWhite;
}

.box-parallax {
  height: 100%;
  @include flex(c);
  align-items: center;
}

.box-main {
  max-width: 600px;
  @include flex(c, wrap);
  align-items: center;
  background: $colorBackgroundE;
  padding: $spaceDefault;
  border-radius: 4px;
  box-shadow: $colorBoxShadowE;
  div {
    margin: $spaceDefault;
  }
}

.box-sociais {
  padding-top: $spaceDefault;
  width: 100%;
  a {
    color: $myBlue;
    border-bottom: $border;
    text-decoration: none;
  }
}

.sociais-main a {
  border: none;
  color: $white;
  font-size: em(26);
  &:hover {
    color: $myBlue;
  }
}
.sociais-main a + a {
  margin-left: $spaceDefault;
}

/* fecha conteudo parallax */
// abre tecnologias
#tecnologias {
  @include container;
  background: $colorBackgroundE;
  padding: $spaceSections $spaceDefault;
  div {
    @include flex(c, wrap);
    img {
      margin: 5px;
    }
  }
}
// fecha tecnologias
// abre contatos
#contatos {
  @include container;
  background: url("./../img/icons/back.svg") $colorBackgroundE center repeat-x;
  padding: $spaceSections $spaceDefault;
  border-top: $borderWhite;
  border-bottom: $borderWhite;
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  img {
    max-width: 280px;
    height: auto;
  }
  @include d(m) {
    img {
      margin: 0 auto;
    }
  }
  dt {
    color: $white;
    @include tipo-2(28, $white);
  }
  dd {
    margin-left: 20px;
  }
  a {
    text-decoration: none;
    @include tipo-1(24, $white);
    &:hover {
      color: $myBlue;
    }
  }
}
// fecha contatos
footer {
  @include container;
  text-align: center;
  @include tipo-1(16, $white);
  padding: $spaceDefault;
  background: $colorBackgroundE;
}
