@import "stylesVariables";

/* geral  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: $colorBoxShadowC;
}

body {
  background: $colorBackgroundE;
  font-family: $fonte-1;
  overflow-x: hidden !important;
}

p {
  @include tipo-1(18, $white);
}

h1 {
  @include tipo-2(26, $white);
}

h3 {
  @include tipo-2(24, $myBlue);
}


/* fecha geral */

/* navegação */
nav {
  width: 100%;
  @include flex(c, wrap);
  justify-content: space-between !important;
  align-items: center;
  padding: $spaceDefault !important;
  box-shadow: $colorBoxShadowC;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;

  ul {
    list-style: none;
    display: flex;
    animation: bounce 1s alternate forwards ease-in-out;
    transition: ease-in-out 1s;

    @include d(t) {
      flex-direction: column;
      background: $colorBackgroundE;
      display: none;
      position: absolute;
      width: 100vw;
      z-index: 10;
      top: 100px;
      left: 0;
      box-shadow: $colorBoxShadowC;
    }
  }

  li+li {
    margin-left: 5px;

    @include d(t) {
      margin-left: 0;
    }

  }

  li {
    @include d(t) {
      padding: 12px;
    }
  }

  a {
    padding: $spaceDefault;
    text-decoration: none !important;
    color: $white;
    transition: all .3s;

    &:hover {
      border-bottom: $border;
      color: $myBlue;
    }
  }

  .Mmain {
    background: $myBlue;
    border: $border;
    border-radius: 4px;
    transition: all .5s;

    &:hover {
      transform: scale(1.1);
      background: transparent;
      color: $white
    }
  }

  .fa-bars {
    width: 54px;
    padding: $spaceDefault;
    font-size: 1.6em;
    border-radius: 4px;
    background: $myBlue;
    color: $white;
    border: 1px solid $white;
    text-align: center;
    visibility: hidden;
    cursor: pointer;
    transition: ease-in-out 1s;

    @include d(t) {
      visibility: visible;
    }
  }

  .active {
    display: flex;
  }

  .barActive {
    transform: rotate(90deg);
  }

  @include d(d) {
    position: relative;
    background: url("./../img/icons/back.svg") center repeat-x;
  }
}


@keyframes bounce {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* fecha navegacao */

/*parallax */

.parallax {
  background-image: url("../img/parallax.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 960px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* fecha parallax */

// abre servicos
#servicos {
  padding-top: $spaceTopTitle;
  padding-bottom: $spaceSections;
  visibility: hidden;
}

.descriptions {
  background: $colorBackgroundC;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 1px 1px 0px 2px rgba(0, 0, 0, 0.2);
  padding: $spaceDefault;
  border-radius: 4px;
}

.sites,
.system {
  @include flex(c, wrap);
  align-items: center;

  @include d(m) {
    flex-direction: column;
  }

  div {
    flex: 2 1 280px;

    @include d(m) {
      flex: 1;
    }
  }

  img {
    max-width: 280px;

    @include d(m) {
      order: 2;
    }
  }

  dl {
    background: $colorBackgroundC;
    margin-top: $spaceDefault;
    padding: 0 $spaceDefault;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 1px 1px 0px 2px rgba(0, 0, 0, 0.2);
  }

  dt {
    @include tipo-2(24, $myBlue);
    padding: $spaceDefault 0;
  }

  dt::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: $myBlue;
  }

  dd {
    @include tipo-1(18, $white);
    padding: 5px 0;

    span {
      color: $myBlue;
      font-weight: bold;
    }
  }
}

.sites {
  padding: $spaceBottomTitle;

  img {
    margin-right: $spaceDefault;

    @include d(m) {
      margin-right: 0;
      margin-top: $spaceDefault;
    }
  }
}

.system {
  img {
    margin-left: $spaceDefault;

    @include d(m) {
      margin-left: 0;
      margin-top: $spaceDefault;
    }
  }
}

// fecha servicos

/* conteudo parallax */
.box-container {
  background: url("./../img/icons/back.svg") center repeat-x;
  border-top: $borderWhite;
  border-bottom: $borderWhite;
}

.box-parallax {
  height: 100%;
  @include flex(c);
  align-items: center;
}

.box-main {
  max-width: 600px;
  @include flex(c, wrap);
  align-items: center;
  background: $colorBackgroundE;
  padding: $spaceDefault;
  border-radius: 4px;
  box-shadow: $colorBoxShadowE;

  div {
    margin: $spaceDefault;
  }
}

.box-sociais {
  padding-top: $spaceDefault;
  width: 100%;

  a {
    color: $myBlue;
    border-bottom: $border;
    text-decoration: none;
  }
}

.sociais-main a {
  border: none;
  color: $white;
  font-size: em(26);

  &:hover {
    color: $myBlue;
  }
}

.sociais-main a+a {
  margin-left: $spaceDefault;
}

/* fecha conteudo parallax */

// abre servicos
.box-container {
  @include container;
}

// fecha servicos

// abre tecnologias
#tecnologias {
  @include container;
  background: $colorBackgroundE;
  padding-top: $spaceTopTitle;
  padding-bottom: $spaceSections;

  div {
    visibility: hidden;
    @include flex(c, wrap);

    img {
      margin: 5px;
      visibility: hidden;
    }
  }

  .imgsTecnologias {
    padding: $spaceBottomTitle;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  h1 {
    visibility: hidden;
  }

  p {
    visibility: hidden;
  }
}

// fecha tecnologias

// abre time line
.bgtimeLine {
  @include container;
  padding: 0;
  background: $colorBackgroundE;
  border-top: $borderWhite;
  // border-bottom: $borderWhite;

  #timeLine {
    @include container;
    padding-top: $spaceTopTitle;
    padding-bottom: $spaceSections;
  }

  height: 600px
}

//fecha time line

// abre contatos
.bgContatos {
  @include container;
  padding: 0;
  background: url("./../img/icons/back.svg") $colorBackgroundE center repeat-x;
  border-top: $borderWhite;
  border-bottom: $borderWhite;
}

#contatos {
  @include container;
  padding-top: $spaceTopTitle;
  padding-bottom: $spaceSections;
  visibility: hidden;

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // padding: $spaceBottomTitle;
  }

  img {
    max-width: 280px;
    height: auto;

    @include d(m) {
      margin: 0 auto;
    }
  }

  dl {
    padding: $spaceBottomTitle;
  }

  dt {
    color: $white;
    @include tipo-2(24, $white);
  }

  dd {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
    @include tipo-1(18, $white);

    &:hover {
      color: $myBlue;
    }
  }
}

// fecha contatos
footer {
  @include container;
  text-align: center;
  @include tipo-1(16, $white);
  padding: $spaceDefault 0;
  background: $colorBackgroundE;
  border-bottom: $borderWhite;
}